@font-face {
    font-family: noeDisplay-bold;
    src: url(../assets/fonts/NoeDisplay-Bold.ttf);
}
@font-face {
    font-family: noeDisplay;
    src: url(../assets/fonts/Noe-Display-Medium.ttf);
}
@font-face {
    font-family: manrope-regular;
    src: url(../assets/fonts/Manrope-Regular.ttf);
}
@font-face {
    font-family: american-signature;
    src: url(../assets/fonts/American-signature.ttf);
}


$max-width: 1180px;

$primary-color:#5451F9;
// $primary-color:red;
$light-grey:#F8F8F8;


$logo-font:american-signature;
$primary-font:noeDisplay-bold;
$primary-font-regular:noeDisplay;
$secondary-font:manrope-regular;