@font-face {
    font-family: Butler;
    src: url(../assets/fonts/butler/Butler_Webfont/Butler.woff2);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: manrope-regular;
    src: url(../assets/fonts/Manrope-Regular.ttf);
}
@font-face {
    font-family: boulevard-signature;
    src: url(../assets/fonts/boulevardsignature.otf);
}

$max-width: 1180px;

// $primary-color:#5451F9;
// $accent-color:#FF4A8B;
$primary-color:#A459D1;
$accent-color:#F16767;
$light-grey:#F8F8F8;
$off-white :#F3EEE7;


$logo-font-new:boulevard-signature;
$primary-font:'Butler', serif;
$secondary-font:manrope-regular;