#blogWrapper {
    .blogWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: $max-width;
        margin: 0 auto;
        height: 80vh;
        font-family: $secondary-font;

        .blogTitle {
            max-width: 80%;
            color: $primary-color;
            font-size: 3rem;
            text-align: center;
            margin-bottom: 20px;
        }

        .blogLink {
            text-decoration: none;
            font-weight: 700;
            font-size: 2rem;
            text-align: center;
            color: $accent-color;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 768px) {
    #blogWrapper {
        .blogWrapper {
            width: 90%;
            height: 65vh;
            font-family: $primary-font;

            .blogTitle {
                font-size: 1.6rem;
            }

            .blogLink {
                font-weight: 400;
                font-size: 1.2rem;
            }
        }
    }
}