#case-study.main-wrapper {
    #case-study-wrapper {
        max-width: $max-width;
        margin: 0 auto;
        h3.project-name {
            font-family: $primary-font;
            font-size: 3rem;
            margin: 0px;
            margin-bottom: 2rem;
        }
        .tag-wrapper {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            padding:0px;
            width:50%;
            margin:0px 0px 35px 0px;
            .tag {
                background-color: rgba(255,255,255,0.75);
                margin-right: 0.75rem;
                margin-bottom: 0.75rem;
                padding:0.4rem 1rem;
                font-family: $secondary-font;
                border-radius:5rem;
                font-size: 0.7rem;
                font-weight: bold;
                box-shadow: 0px 0px 10px rgba(0,0,0,0.10);
            }
        }
        .overview-wrapper {
            display: flex;
            flex-direction: row;
            .title {
                font-family: $secondary-font;
                font-size: 1.4rem;
                font-weight: bold;
                margin: 0px;
            }
            .description {
                font-family: $secondary-font;
                font-size: 1.1rem;
                list-style: none;
                padding-left: 0px;
                line-height: 1.8;
            }
            .overview {
                flex: 4;
                padding-right: 3rem;
            }
            .myrole-wrapper {
                flex: 2;
                .description {
                    font-family: $secondary-font;
                    font-size: 1.1rem;
                    list-style: none;
                    padding-left: 0px;
                    line-height: 1.8;
                }
            }
        }
    }
    .case-study-body-wrapper {
        max-width: $max-width;
        margin: 0 auto;
        padding-bottom: 15vh;
        padding-top: 20vh;
        img.case-study-hero {
            width: 100%;
        }
    }
    .content-wrapper {
        max-width: $max-width;
        margin: 0 auto;
        margin-top: 10rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        h3.title {
            font-size: 2.4rem;
            font-family: $primary-font;
            flex: 2;
            margin-top: 0px;
            span {
                opacity: 0.35;
            }
        }
        p {
            font-size: 1.2rem;
            font-family: $secondary-font;
            flex: 3;
            margin-top: 0px;
        }
    }
}
