header#header {
    max-width: $max-width;
    margin: 0 auto;
    padding: 2rem 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        a {
            font-family: $logo-font-new;
            font-size: 3rem;
            margin: 1rem 0rem;
            text-decoration: none;
            color: black;
        }
    }

    .navigation {
        display: flex;
        align-items: center;
        margin: 0rem;

        a {
            font-family: $primary-font;
            margin: 0rem;
            list-style: none;
            margin-left: 3rem;
            text-decoration: none;
            font-size: 1rem;
            color: #363636;
            opacity: 0.75;
            padding: 1rem 0rem;
        }

        a.resume {
            background-color: #000000;
            color: white;
            opacity: 1;
            padding: 15px 25px;
        }
    }
}

@media screen and (max-width: 768px) {
    header#header {
        width: 90%;
        padding: 1rem;

        .logo {
            a {
                font-size: 1.8rem;
            }
        }
    }

    .backdrop {
        position: fixed;
        z-index: 98;
        background: rgba($color: #000000, $alpha: 0.35);
        backdrop-filter: blur(2px);
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        transition: 0.2s ease-in-out;

        &.show {
            display: block;
        }

        &.hide {
            display: none;
        }
    }

    .navigationFloat {
        position: fixed;
        z-index: 99;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: $off-white;
        width: 100%;
        transition: 0.2s ease-in-out;
        overflow: hidden;

        &.open {
            height: auto;
        }

        &.closed {
            height: 0vh;
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-top: 1rem;

            a {
                font-family: $primary-font;
                text-decoration: none;
                padding: 1rem;
                color: $primary-color;
                font-size: 1.2rem;
                font-weight: 700;
                opacity: 1;
            }
        }
    }
}