@import './variables.scss';
@import './header.scss';
@import './blog.scss';
@import './selectedWork.scss';
@import './experience.scss';
@import './workWith.scss';
@import './someSkills.scss';
@import './caseStudy.scss';
@import './footer.scss';


.cursor {
    background-color: rgba($primary-color, $alpha:0.10);
    height: 35px;
    width: 35px;
    border-radius: 50%;
    position: fixed;
    top: -19px;
    left: -18px;
    pointer-events: none;
    // border: 1px solid rgba(#363636, $alpha: 0.15);
    backdrop-filter: blur(2px);
    .point {
        background-color: rgba($primary-color, $alpha: 0.75);
        height: 4px;
        width: 4px;
        border-radius: 50%;
        position: fixed;
        top: 15px;
        left: 15px;
    }
  }

::-webkit-scrollbar {
    display: none;
}
::selection {
    color: #ffffff;
    background: $primary-color;
  }
  
html {
    body {
        #homeWrapper, #aboutWrapper, #case-study, #blogWrapper, #work {
            background-color: $light-grey;
            background-image: url("../assets/img/bg/bg-white.jpg");
            background-size: cover;
            background-size: 100%;
            background-repeat: no-repeat;
            color: #20262E;
        }
    }
}
#hero, #heroAbout {
    max-width: $max-width;
    margin: 0 auto;
    padding-top: 15vh;
    padding-bottom: 4vh;
    .hello {
        font-size: 1rem;
        font-family: $primary-font;
        font-weight:600;
        letter-spacing: 1px;
    }
    h1.title {
        width: 80%;
        font-size: 2.6rem;
        font-family: $primary-font;
        margin:0;
        font-weight: 500;
        span {
            color: $primary-color;
        }
        span.emoji {
            font-size: 2.4rem;
        }
    }
    p.desc {
        max-width: 85%;
        font-family: $secondary-font;
        font-size: 1.3rem;
        color: rgba($color: #000000, $alpha: 0.5);
    }
}
#aboutWrapper {
    p.social-links-title {
        font-family: $primary-font;
        margin-bottom: 10px;
        font-size: 1.4rem;
    }
    .social-links-wrapper {
        display: flex;
        ul.social-links {
            padding:0px;
            display: flex;
            margin: 0px;
            width: auto;
            &:hover {
                li {
                    transition: 0.1s linear;
                    opacity: 0.5;
                    &:hover {
                        transition: 0.1s linear;
                        opacity: 1;
                    }
                }
            }
            li {
                flex-direction: row;
                text-decoration: none;
                list-style: none;
                padding-right: 2rem;
                img {
                    width: 25px;
                    margin-right: 5px;
                }
                a {
                    font-family: $secondary-font;
                    text-decoration: none;
                    font-size: 1.2rem;
                    display: flex;
                }
            }
            li.mail {
                a {
                    color:#0D31EE
                }
            }
            li.dribbble {
                a {
                    color:#FC37A1
                }
            }
            li.linkedin {
                a {
                    color:#26A9D2
                }
            }
            li.instagram {
                a {
                    color:#DE5134
                }
            }
        }
    }
}
.floatNextProject {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    position: fixed;
    bottom:2vh;
    right:20%;
    width: $max-width;
    height: 4rem;
    border-radius: 10rem;
    box-shadow: 0px 10px 25px rgba($color: #000000, $alpha: 0.15);
    font-family: $primary-font;
    font-size: 1rem;
    div {
        padding:0rem 2rem;
    }
}
.backButton {
    font-family: $primary-font;
    font-size: 2rem;
    color: $accent-color;
}